/**
** Form Styling CSS
*/
input[type="radio"],
label.option {
	display: inline;
	vertical-align: middle;
	line-height: 25px;
}
textarea, 
select, 
input[type="date"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="email"], 
input[type="month"], 
input[type="number"], 
input[type="password"], 
input[type="search"], 
input[type="tel"], 
input[type="text"], 
input[type="time"], 
input[type="url"], 
input[type="week"] {
	-webkit-appearance: none;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-moz-background-clip: padding;
	-webkit-background-clip: padding;
	background-clip: padding-box;
	background-color: #ffffff;
	border: 1px solid #bbbbbb;
	color: #7a7a7a;
	outline: 0;
	font-size: 100%;
	line-height: 22px;
	position: relative;
	display: inline;
}

button, 
input[type="reset"], 
input[type="submit"], 
input[type="button"] {
	-webkit-appearance: none;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-moz-background-clip: padding;
	-webkit-background-clip: padding;
	background-clip: padding-box;
	background-color: #ffffff;
	border: 1px solid #bbbbbb;
	color: #7a7a7a;
	outline: 0;
	font-size: 100%;
	line-height: 23px;
	display: block;
	position: relative; 
	padding: 0px 8px 0px 8px;
	cursor: pointer;
}
select {
	padding: 0px 25px 0px 5px;
	background-image: url('../images/select_arrow.gif');
	background-repeat: no-repeat;
	background-position: right center;
}

/** Drupal Form Actions **/
.form-actions input  {
	display: inline;
}

/** Label and Fieldset Legend Styling **/
label {
  font-weight: 500;
  display: block;
  vertical-align: middle;
}
.description {
	font-size: 80%;
	line-height: 12px;
	margin-bottom: 10px;
}
fieldset.form-wrapper {
	border: 1px solid #CCC;
	padding: 10px;
	position: relative;
	margin: 10px 0;
}
legend,
.fieldset-legend {
  font-size: 20px;
  font-weight: bold;
}

/** changing Throbber **/
html.js input.form-autocomplete {
	background-image: url(../images/throbber.gif)!important;
  background-position: -40px!important;
  background-repeat: no-repeat!important;
}
html.js input.throbbing {
  background-image: url(../images/throbber.gif)!important;
  background-position: right center!important;
  background-repeat: no-repeat!important;
}
#autocomplete {
   z-index: 9999;
   background-color: #fff;
   border: 1px solid #333333;
   border-top: 0px solid;
}
.reference-autocomplete {
   padding: 4px;
}
#autocomplete li {
	margin-left: 0px;
	padding-left: 20px;	
}
#autocomplete li:hover {
	background: #333333;
	color: #fff;
	cursor: pointer;
}
/** Field Prefix and Suffix **/
.field-suffix {
	line-height: 26px;
}
/**
** Reset CSS
*/
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, dialog, div, dl, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, meter, nav, object, ol, output, p, pre, progress, q, rp, rt, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video, xmp {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
}
html, body {
  height: 100%
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block
}
b, strong {
  font-weight: bold
}
img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}
li {
  display: list-item
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th, td, caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left;
}
q {
  quotes: none
}
q:before, q:after {
  content: '';
  content: none;
}
sub, sup, small {
  font-size: 75%
}
sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em
}
sup {
  top: -0.5em
}
svg {
  overflow: hidden
}
