/**
** Form Styling CSS
*/
input[type="radio"],
label.option {
	display: inline;
	vertical-align: middle;
	line-height: 25px;
}
textarea, 
select, 
input[type="date"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="email"], 
input[type="month"], 
input[type="number"], 
input[type="password"], 
input[type="search"], 
input[type="tel"], 
input[type="text"], 
input[type="time"], 
input[type="url"], 
input[type="week"] {
	-webkit-appearance: none;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-moz-background-clip: padding;
	-webkit-background-clip: padding;
	background-clip: padding-box;
	background-color: #ffffff;
	border: 1px solid #bbbbbb;
	color: #7a7a7a;
	outline: 0;
	font-size: 100%;
	line-height: 22px;
	position: relative;
	display: inline;
}

button, 
input[type="reset"], 
input[type="submit"], 
input[type="button"] {
	-webkit-appearance: none;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-moz-background-clip: padding;
	-webkit-background-clip: padding;
	background-clip: padding-box;
	background-color: #ffffff;
	border: 1px solid #bbbbbb;
	color: #7a7a7a;
	outline: 0;
	font-size: 100%;
	line-height: 23px;
	display: block;
	position: relative; 
	padding: 0px 8px 0px 8px;
	cursor: pointer;
}
select {
	padding: 0px 25px 0px 5px;
	background-image: url('../img/select_arrow.gif');
	background-repeat: no-repeat;
	background-position: right center;
}

/** Drupal Form Actions **/
.form-actions input  {
	display: inline;
}

/** Label and Fieldset Legend Styling **/
label {
  font-weight: 500;
  display: block;
  vertical-align: middle;
}
.description {
	font-size: 80%;
	line-height: 12px;
	margin-bottom: 10px;
}
fieldset.form-wrapper {
	border: 1px solid #CCC;
	padding: 10px;
	position: relative;
	margin: 10px 0;
}
legend,
.fieldset-legend {
  font-size: 20px;
  font-weight: bold;
}

/** changing Throbber **/
html.js input.form-autocomplete {
	background-image: url(../img/throbber.gif)!important;
  background-position: -40px!important;
  background-repeat: no-repeat!important;
}
html.js input.throbbing {
  background-image: url(../img/throbber.gif)!important;
  background-position: right center!important;
  background-repeat: no-repeat!important;
}
#autocomplete {
   z-index: 9999;
   background-color: #fff;
   border: 1px solid #333333;
   border-top: 0px solid;
}
.reference-autocomplete {
   padding: 4px;
}
#autocomplete li {
	margin-left: 0px;
	padding-left: 20px;	
}
#autocomplete li:hover {
	background: #333333;
	color: #fff;
	cursor: pointer;
}
/** Field Prefix and Suffix **/
.field-suffix {
	line-height: 26px;
}