/**
 * Header
 */
#header {
  margin-top: 20px;
}
#logo {
  width: 70px;
  height: 90px;
  background-image: url('../img/logo.png');
  background-repeat: no-repeat;
  background-size: 100%;
  display: block;
}
 
/**
 * Main Menu
 */
#navigation {
  margin-top: 20px;
}

/**
 * Main Content Area
 */
#main {
  margin-top: 20px;
}

#main-content { }

/**
 * Sidebars and other regions 
 */
#sidebar { }

/**
 * Footer Region
 */
#footer { }

/**
 * Media Queries for standard devices
 */
/** Smartphones (portrait and landscape mode) **/
@media only screen and (min-device-width: 320px) 
and (max-device-width: 480px) { }

/** Smartphones (landscape mode) **/
@media only screen 
and (min-width: 321px) { }

/** Smartphones (portrait mode) **/
@media only screen 
and (max-width: 320px) { }

/** iPads (portrait and landscape mode) **/
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) { }

/** iPads (landscape mode) **/
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (orientation: landscape) { }

/** iPads (portrait mode) **/
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (orientation: portrait) { }

/** Retina iPads (portrait and landscape mode) **/
@media only screen 
and (min-device-width: 1536px)
and (max-device-width: 2048px)
and (-webkit-min-device-pixel-ratio: 2) { }

/** Standard Computers **/
@media only screen 
and (min-width: 1224px) { }

/** Large Computer Screens **/
@media only screen 
and (min-width: 1824px) { }

/** Retina Macs **/
@media only screen and (min--moz-device-pixel-ratio: 2), 
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
  #logo {
    background-image: url('../img/hd/logo@2x.png');
  }
}

/** iPhone 4 (portrait and landscape mode) **/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), 
only screen and (min-device-pixel-ratio: 1.5) { }
