/*
 * This is a style sheet for positioning and styling the regions of your theme,
 * such as sidebars, main content regions, headers, navigation areas, etc.
 */
/** Body Styling **/
html,
body {
  height: 100%;
  background: #fff;
}
/** Wrapper **/
#wrapper {
	margin: 0 auto;
}
/** Header Region Styling **/
#header {
  background: #eee;
}
/** Navigation Region Styling **/
#navigation {
  background: #eee;
  text-align: center;
  margin: 20px auto 0;
}
/** Logo Styling **/
#header-logo {
  display: inline-block;
  vertical-align: middle;
  margin-right: 24px;
}
/** Main Page Region Styling **/
#main {
  margin: 20px auto 0;
}
/** Content Pane Layout Styling **/
#main-content {
  padding: 20px;
  background: #eee;
}
/** Sidebar Layout Styling **/
#sidebar {
  padding: 20px;
  background: #eee;
}
/** Footer Region Styling **/
#footer {
  background: #eee;
  text-align: center;
  margin-top: 60px;
}

/*
 * Menu Styling 
 * Styling all of your navigational items below.
 */
 
/** Main Menu Styling **/
#navigation ul.menu li {
  list-style: none;
  margin: 0px;
  display: inline-block;
}
#navigation ul.menu {
	display: inline;
}
#navigation ul li a {
  display: block;
  line-height: 30px;
  padding-left: 15px;
  padding-right: 15px;
  background: #eee;
}

/** Submenus **/
#navigation ul.menu ul {
	display: none;
	position: absolute;
}
#navigation ul.menu li:hover > ul {
	display: block;
}
/** Drupal's Tabs **/
ul.primary {
	margin-bottom: 20px;
	border-bottom: 1px solid #bababa;
}
ul.tabs li {
	display: inline-block;
	margin-right: 5px;
}
ul.tabs li a {
	background: #bababa;
	padding: 0px 15px 0px 15px;
	line-height: 30px;
	display: block;
	border: 1px solid transparent;
	margin-bottom: -1px; /** Fox for border **/
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
ul.tabs li.active a,
ul.tabs a:hover {
	background: #ffffff!important;
	border: 1px solid #bbbbbb;
	color: #7a7a7a;
}
ul.secondary {
	border: 0px solid;
	text-align: right;
	padding: 0px;
	margin: 0px;
}
ul.secondary li {
	border: 0px solid;
	padding: 0px;
	margin-right: 5px;
}

/** Footer Menus **/
#footer li {
	display: inline-block;
	list-style: none;
	margin-left: 0px;
}
#footer li a {
	padding-right: 15px;
	padding-left: 15px;
	border-right: 1px solid;
}
#footer li:last-child a {
	border: 0px solid
}
#footer ul {
	line-height: 80px
}