/** Main Menu Styling **/
#navigation ul li {
    list-style: none;
    display: inline-block;
}
#navigation ul li a {
    display: block;
    line-height: 30px;
    padding-left: 15px;
    padding-right: 15px;
    background: #eee;
}
/** Drupal's Tabs **/
ul.primary {
	margin-bottom: 20px;
	border-bottom: 1px solid #bababa;
}
ul.tabs li {
	display: inline-block;
	margin-right: 5px;
}
ul.tabs li a {
	background: #bababa;
	padding: 0px 15px 0px 15px;
	line-height: 30px;
	display: block;
	border: 1px solid transparent;
	margin-bottom: -1px; /** Fox for border **/
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
ul.tabs li.active a,
ul.tabs a:hover {
	background: #ffffff!important;
	border: 1px solid #bbbbbb;
	color: #7a7a7a;
}
ul.secondary {
	border: 0px solid;
	text-align: right;
	padding: 0px;
	margin: 0px;
}
ul.secondary li {
	border: 0px solid;
	padding: 0px;
	margin-right: 5px;
}
/** Footer Menus **/
#footer li {
	display: inline-block;
	list-style: none;
	margin-left: 0px;
}
#footer li a {
	padding-right: 15px;
	padding-left: 15px;
	border-right: 1px solid;
}
#footer li:last-child a {
	border: 0px solid
}
#footer ul {
	line-height: 80px
}
/** Drupal Pagination **/
.item-list .pager {
	clear: both;
	text-align: center;
}
.item-list .pager li {
	background: #e8e8e8;
	display: inline;
	list-style-type: none;
	padding: 3px;
}
.pager-current {
	font-weight: bold
}
/** Drupal's Inline Links **/
ul.inline {
	width: 100%;
	text-align: right;
}
ul.inline li {
  display: inline-block;
  margin: 5px;
}
/** Drupal's Action Links **/
ul.action-links li a {
	padding-left: 15px;
	background: transparent url('../images/add.png') no-repeat 0 center;
	line-height: 30px;
	color: #0076be;
}