/**
** This is a style sheet for positioning and styling regions of the template,
** such as sidebars, main content regions, headers, navigation areas, etc.
*/
/** Body Styling **/
html,
body {
    height: 100%;
    background: #fff;
}
/** Wrapper Region Styling **/
#wrapper {
    position: relative;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}
/** Header Region Styling **/
#header {
    width: 920px;
    overflow: hidden;
    display: block;
    position: relative;
    padding: 20px;
    background: #eee;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
h1.header-title {
    display: inline-block;
    vertical-align: middle;
}
/** Navigation Region Styling **/
#navigation {
    width: 960px;
    overflow: hidden;
    display: block;
    position: relative;
    padding: 0px;
    background: #eee;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
/** Logo Styling **/
#header-logo {
    display: inline-block;
    vertical-align: middle;
    margin-right: 24px;
}
/** Main Page Region Styling **/
#main {
    width: 960px;
    overflow: hidden;
    display: block;
    position: relative;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
/** Content Pane Layout Styling **/
#main-content {
    width: 680px;
    overflow: visible;
    display: inline-block;
    position: relative;
    padding: 20px;
    background: #eee;
    vertical-align: top;
    margin-bottom: 200px;
}
/** Sidebar Layout Styling **/
#sidebar {
    width: 180px;
    overflow: visible;
    display: inline-block;
    position: relative;
    padding: 20px;
    background: #eee;
    margin-left: 16px;
}
/** Footer Region Styling **/
#footer {
    position: absolute;
    display: block;
    width: 100%;
    bottom: 0px !important;
    height: 80px;
    background: #eee;
    text-align: center;
}