/**
** This is a style sheet for styling text.
*/
/** Your Font Imports Go Here **/
@font-face {
    font-family: 'vegur';
    src: url('../fonts/vegur-r-webfont.eot');
    src: url('../fonts/vegur-r-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/vegur-r-webfont.woff') format('woff'), url('../fonts/vegur-r-webfont.ttf') format('truetype'), url('../fonts/vegur-r-webfont.svg#VegurRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'vegur', sans-serif;
    font-size: 80%;
    line-height: 20px;
    font-weight: 400;
    color: #444444;
}
/** All Link Styling **/
a:link {
    color: #444;
    text-decoration: none;
}
a:visited {
    color: #444;
    text-decoration: none;
}
a:hover {
    color: red;
    text-decoration: none;
}
a:active {
    color: #444;
    text-decoration: none;
}
/** Selection Styling **/
::selection {
    background: #444444;
    color: #fff;
}
/** H tag styling. **/
h1 {
    font-size: 180%;
    margin-bottom: 15px;
}
h2 {
    font-size: 140%;
    font-weight: normal;
    line-height: 20px;
}
h2.main-content-title {
	line-height: 30px;
}
h3 {
    font-size: 120%;
    font-weight: 400;
}
